<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="content">
        <div class="header">
          <h4 class="title">Add Bank A/c Details</h4>
        </div>
        <div class="content">
          <form #f="ngForm" (ngSubmit)="submit(f)">
            <div class="row">
              <!--name-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Name</label>
                  <input [(ngModel)]="bank.name" name="bankName" type="text" class="form-control" placeholder="Name">
                </div>
              </div>
              <!--acc number-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>A/c Number</label>
                  <input [(ngModel)]="bank.acNo" name="bankAcNo" type="number" class="form-control" placeholder="0000 0000 0000 0000">
                </div>
              </div>
            </div>

            <div class="row">
              <!--balance-->
              <div class="col-md-4">
                <div class="form-group">
                    <label>Opening Balance</label>
                    <input [(ngModel)]="bank.balance" name="bankOpeningBalance" type="text" class="form-control" placeholder="000000000000000" value="">
                  </div>
              </div>
              <!--Gst number-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>GST No.</label>
                  <input [(ngModel)]="bank.gstNo" name="bankGstNo" type="text" class="form-control" placeholder="000000000000000" value="">
                </div>
              </div>
            </div>

            <div class="row">
              <!--bsr number-->
              <div class="col-md-8">
                <div class="form-group">
                  <label>BSR No.</label>
                  <input [(ngModel)]="bank.bsrCode" name="bankBsrCode" type="text" class="form-control" placeholder="00000000" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                    <label>Pincode</label>
                    <div class="dropdown">
                      <button [(ngModel)]="bank.pincode" name="bankPinCode" class="btn dropdown-toggle " type="button" data-toggle="dropdown">
                        Pincode
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Action</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Another action</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Something else here</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Separated link</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  </div>
              <!--address-->
              <div class="col-md-5">
                <div class="form-group">
                  <label>Address</label>
                  <input [(ngModel)]="bank.address" name="bankaddress" type="text" class="form-control" placeholder="Address." value="">
                </div>
              </div>
            </div>
            <!--submit button-->
            <div class="row">
              <div class="col-md-7"></div>
              <button type="submit" class="col-md-1 btn btn-default btn-fill">&nbsp;&nbsp;Add&nbsp; &nbsp;</button>
              <div class="col-md-4"></div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>