<div _ngcontent-c1="" class="main-content">
  <div _ngcontent-c1="" class="container-fluid">



    <div _ngcontent-c2="" class="col-md-8" style="margin: 0px 5%">
      <div _ngcontent-c2="" class="card">
        <div _ngcontent-c2="" class="header">
          <h4 _ngcontent-c2="" class="title">ADD PRODUCT</h4>
        </div>
        <div>
          <form #productForm="ngForm" (ngSubmit)="log(productForm)">
            <div class="temp" style="margin: 0px 5%">

              <br>

              <input ngModel name="ProductName" type="text" value="" placeholder="Product Name" class="form-control" />
              <br>
              <input ngModel name="hsnCode" type="text" value="" placeholder="HSN Code" class="form-control" data-parsley-pattern="^[0-9 ,\s]*$" title="only character" pattern="^[0-9 , \s]*$"/>
              <br>
              <div class="form-group">

                <label for="company">Company : </label> 
                <ng-select2
                  ngModel name="companyName" 
                  [data]="companies"
                  [options]="options"
                  [width]="215"  
                  id="company"
                  style="width:100% !important"
                  (valueChanged)="companyValueChanged($event)" 
                >
                </ng-select2>

              </div>

              <input ngModel name="productStock" type="text" value="" placeholder="Stock" class="form-control" />
              <br>
              <div class="form-group">

                <label>Product Type : </label>
                <ng-select2
                  ngModel name="productType" 
                  [data]="productTypes"
                  [options]="options"
                  [width]="215"  
                  id="company"
                  style="width:100% !important"
                  (valueChanged)="companyValueChanged($event)" 
                >
                </ng-select2>
              </div>
              <form action="">
                <!-- <b> Option 3:</b>  -->
                <input type="radio" name="meter" value="1"> Meter
                <input type="radio" name="Inches" value="2"> Inches

              </form>
              <br>
              <input type="text" value="" placeholder="Price" class="form-control" />
              <br>
              <button class="btn btn-info btn-fill pull-right" [disabled]="!productForm.valid" type="submit">Save</button>
              <br>
              <br>
              <br>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>