<div _ngcontent-c1="" class="main-content">
  <div _ngcontent-c1="" class="container-fluid">



    <div _ngcontent-c2="" class="col-md-8" style="margin: 0px 5%">
      <div _ngcontent-c2="" class="card">
        <div _ngcontent-c2="" class="header">
          <h4 _ngcontent-c2="" class="title">ADD PRODUCT</h4>
        </div>
        <div>
          <form>
            <div class="temp" style="margin: 0px 5%">

              <br>

              <input type="text" value="" placeholder="Product Name" class="form-control" />
              <br>
              <input type="text" value="" placeholder="HSN Code" class="form-control" />
              <br>
              <div class="form-group">

                <label for="company">Company : </label> 
                <ng-select2 
                  [data]="exampleData"
                  [options]="options"
                  [width]="215"  
                  id="company"
                  style="width:100% !important"
                  (valueChanged)="companyValueChanged($event)" 
                >
                </ng-select2>

              </div>

              <input type="text" value="" placeholder="Quantity" class="form-control" />
              <br>
              <div class="form-group">

                <label>Product Type : </label>
                <select name="contactMethod" id="contactMethod" class="form-control">

                  <option value="">-select-</option>
                  <option value="">Cotton</option>
                  <option value="">Silk</option>
                  <option value="">Linen</option>


                </select>
              </div>
              <form action="">
                <!-- <b> Option 3:</b>  -->
                <input type="radio" name="meter" value="1"> Meter
                <input type="radio" name="Inches" value="2"> Inches

              </form>
              <br>
              <input type="text" value="" placeholder="Price" class="form-control" />
              <br>
              <button class="btn btn-info btn-fill pull-right" type="submit">Save</button>
              <br>
              <br>
              <br>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>